@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */



body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.canter h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  color:#330066;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  margin-top: 15px;
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.panel-group {
  
}

.body_weight {
  width: 70px !important;
  height: 50px !important;
  font-size: 20px;
}

.workout {
  width: 600px !important;
  font-size: 2em;
}

.table {
  max-width: 200%;
}

.navbar-default {
  background-color: #000080;
}

.box10 {
    padding: 0.5em 1em;
    margin:   1em 0;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);/*å½±*/
    height: 40px;
    color: #000080;
}
.box10 p {
    margin: 0; 
    padding: 0;
}

.box16{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
.box16 p {
    margin: 0; 
    padding: 0;
}

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

.width_height_100px {
  height: 50px;
  width: 100px;
}

.height_50px {
  height: 50px;
}

.width_300px_height_50px {
  height: 50px;
  width: 300px;
}

.topnewbox{
  display: block;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
}
.hoge{
  display: inline-block;
}

.note {
  height: 150px;
}

.topnewbox{
  display: block;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
}
.hoge{
  display: inline-block;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.aikon {
  height: 50px;
  width: 50px;
}