/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.password_field{
  background-color: #FFFF99;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}