

#top-main {
  background-color: rgba(255, 255, 255, 0);
  
}

#top-main-title {
  font-style: italic;
  font-weight: bold;
}

.example {
  position: relative;
  }

.example p {
  position: absolute;
  top: 75%;
  left: 75%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }
  
.example q {
  position: absolute;
  top: 75%;
  left: 90%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  
  /*文字の装飾は省略*/
  }
  
  
.example h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color:#FFFFFF;
  font-size:50px;
  /*文字の装飾は省略*/
  }

.example img {
  width: 100%;
  filter: brightness(60%);
  }

